<!DOCTYPE html>
{% import os %}
{% import sys %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>{{ site.title }}</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link href="//cdn.bootcss.com/highlight.js/8.6/styles/monokai_sublime.min.css" rel="stylesheet">

    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/marked/0.3.2/marked.min.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/8.6/highlight.min.js"></script>
    <script>
        duoshuoQuery = {short_name: "qiushao"};
    </script>
    <script src="http://static.duoshuo.com/embed.js"></script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1255850137'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1255850137%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

</head>
<body onload="onload()">

<div id="login">
    <div id="login_form">
        <label class="close" onclick="click_close()"></label>
        <label class="avatar"></label>

        <form action="/login" method="post" name="login_form" onsubmit="return click_login()">
            <input type="text" id="username" name="user" placeholder="User Name" autofocus>
            <input type="password" id="password" name="password" placeholder="Password">
            <input type="submit" id="login_submit" value="Log in">
        </form>
    </div>
</div>

<aside id="sidebar">
    <div id="sidebar_left">
        <label class="avatar" onclick="click_avatar()"></label>
        <ul id="tags">
            <li class="tags_li active" data-filter="all">all<span class="post_count"></span></li>
            {% for tag in site.tags %}
            <li class="tags_li" data-filter="{{ escape(tag) }}">{{ escape(tag) }}<span class="post_count"></span></li>
            {% end %}
        </ul>
    </div>

    <div id="sidebar_right">
        <input id="search_input" type="text" placeholder="Search...">

        <div id="posts">
            <ul id="posts_ul">
                {% for post in site.posts %}
                <li class="posts_li" data-filter="{{ escape(post.tag) }}"><span class="pl_circle"></span>{{ post.title }}</li>
                {% end %}
            </ul>
        </div>
    </div>
</aside>
<div id="content">
    <div id="markdown_preview"></div>
    <div id="comment-box"></div>
    <div id="markdown_edit" hidden="hidden">
        <fieldset>
            <label>Title</label>
            <input type="text" id="title_editor">
            <label>Tag</label>
            <input type="text" id="tag_editor">
        </fieldset>
        <fieldset>
            <textarea id="markdown_editor" rows="26" spellcheck="false"></textarea>
        </fieldset>
    </div>
</div>

{% if site.status == "read" %}
<button id="toc_button" onclick="click_toc()">TOC</button>
<div id="toc">
    <span id="toc_title">目录</span>
    <ul id="toc_ul"></ul>
</div>
{% end %}

{% if site.status == "write" %}
<button id="commit_button" onclick="click_publish()" title="save"><i class="fa fa-floppy-o fa-2x"></i></button>
<button id="edit_button" onclick="click_edit()" title="edit"><i class="fa fa-pencil fa-2x"></i></button>
<button id="preview_button" onclick="click_preview()" title="preview"><i class="fa fa-eye fa-2x"></i></button>
<button id="del_button" onclick="click_del()" title="delete"><i class="fa fa-trash-o fa-2x"></i></button>
{% end %}
<button id="top_button" onclick="click_goTOP()" title="top"><i class="fa fa-arrow-circle-o-up fa-2x"></i></button>

</body>
<script type="text/javascript" src="/static/js/main.js"></script>
</html>
